.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.qr_code{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}